/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Island_Moments',cursive;
}
*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.profile{
	position: relative;
	top: 0;
	left: 0;
	background-color: yellow;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	}

	h3{
		z-index: 1;
		font-size: 4rem;
		color: #cfab41;
		-webkit-text-stroke: 2px;
		text-shadow: 5px 5px #07711e;

	}
	p{
		z-index: 1;
		font-size: 2rem;
		color: #dd3a6c;
	}

	.profile:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#075791), to(#0cf20e));
		background-image: -o-linear-gradient(#075791, #0cf20e);
		background-image: linear-gradient(#075791, #0cf20e);
		width: 100%;
		height: 100%;
		border-radius: 0 0 50% 50%/0 0 100% 100%;

	}
	.profile::after{
		content: '';
		position: absolute;
		top: 55px;
		left: 200px;
		width: 260px;
		height: 200px;
		background-color:#075791; 
		background-size: cover;
		z-index: 2;
		opacity: 0.3;
		border-radius: 50% 50% 0 0;
	}

	

.menu-bar{
		position: absolute;
		top: 0;
		left: 0;
		width: 1000px;
		height: 10px;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	
	}
	.menu-bar__items{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style-type: none;
		margin-left: 20px;
	}
	.menu-bar__items li{
		margin-left: 20px;
		padding: 10px;

	}
	.menu-bar__items a{
		color: #fff;
	}
	.menu-bar__items a:hover{
		text-decoraion: none;
		opacity: 0.5;
	}
	.menu-special{
		position: absolute;
		top: 80px;
		right: 150px;
		width: 200px;
		height: 200px;
		background-color: #07711e;
		opacity: 0.8;
		text-align: center;
		padding: 10px;
		border-radius: 50%;
		z-index: 1;
	}
	.menu-special h4{
		font-size: 1.5rem;
		color: #dd3a6c ;

	}
	.menu-special a{
		text-decoration: none;
	}
	.menu-special h4:hover{
		opacity: 0.5;
	}
	@-webkit-keyframes shadow-out{
		0%{
			-webkit-transform: scale(0);
			        transform: scale(0);
		}
		100%{
			-webkit-transform: scale(1);
			        transform: scale(1);
		}
	}
	@keyframes shadow-out{
		0%{
			-webkit-transform: scale(0);
			        transform: scale(0);
		}
		100%{
			-webkit-transform: scale(1);
			        transform: scale(1);
		}
	}
	.menu-special{
		-webkit-animation-name: shadow-out;
		        animation-name: shadow-out;
		-webkit-animation-duration: 3s;
		        animation-duration: 3s;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;

	}
	.menu-special:hover{
		-webkit-animation: none;
		        animation: none;
	}
	.happy-hour{
		position: absolute;
		top: 80%;
		left: 50px;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-left: 20px;
	}
	.announcement{
		position: absolute;
		left: 60px;
		top: 75%;
		z-index: 1;
		color: #ff0800;
	}
	.display{
		width: 60px;
		height: 40px;
		padding: 10px;
		border: 1px solid black;
		margin-left: 20px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
		text-align: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.bgimage{
		position: absolute;
		top: 60px;
		left: 200px;
		z-index: 1;
		opacity: 0.5;
		border-radius: 50% 50% 0 0;
		overflow: hidden;
		-webkit-box-shadow: 5px 3px #fff;
		        box-shadow: 5px 3px #fff;
	}

	.location-image{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #ff99cc;
		background-size: ;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-align: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		
	}
.location-image::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #cfab41;
	opacity: 0.8;
	border-radius: 0 0 50% 50%/0 0 100% 100%;
}
.location-image::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #07711e;
	opacity: 0.8;
	border-radius: 50% 50% 0 0/100% 100% 0 0;
}
@-webkit-keyframes circle-moved{
	0%{-webkit-transform: translate();transform: translate();
	}
	100%{
		-webkit-transform: translate(0,-300px);
		        transform: translate(0,-300px);
	}	
}
@keyframes circle-moved{
	0%{-webkit-transform: translate();transform: translate();
	}
	100%{
		-webkit-transform: translate(0,-300px);
		        transform: translate(0,-300px);
	}	
}
.location-image::before{
	-webkit-animation-name: circle-moved;
	        animation-name: circle-moved;
	-webkit-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
@-webkit-keyframes circle-moved-2{
	0%{-webkit-transform: translate();transform: translate();
	}
	100%{
		-webkit-transform: translate(0, 300px);
		        transform: translate(0, 300px);
	}	
}
@keyframes circle-moved-2{
	0%{-webkit-transform: translate();transform: translate();
	}
	100%{
		-webkit-transform: translate(0, 300px);
		        transform: translate(0, 300px);
	}	
}
.location-image::after{
	-webkit-animation-name: circle-moved-2;
	        animation-name: circle-moved-2;
	-webkit-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
.location-package{
	z-index: 1;

}
.location-package ul{
	list-style-type: none;
}
.location-package ul li{
	padding: 10px;
	font-size: 1.2rem;
}
.location-package h1{
	color: #ff0800;
	text-shadow: 3px 3px #1f42a5;
}
.location-package ul li a{
	color: #e55c35;
}
.location-package ul li a:hover{
	text-decoration: none;
}
.box-1, .box-2, .box-3{
	position: relative;
	left: 10%;
	margin-top: 30px;
	width: 400px;
	height: 200px;
	background-color: #ff9e00;
}
.box-4{
	position: absolute;
	left: 50%;
	top: 30px;
	width: 300px;
	height: 630px;
	background-color: #ff9e00;
}
.menu-section{
	padding: ;
}
.menu-section h4{
	text-align: center;
	padding: 20px;
	color: #07711e;
}
.vegan{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #0cf20e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.vegan h1{
	-webkit-transform: rotate(-35deg);
	color: #ff0800;
}
.vacancy{
	position: relative;
	margin-top: 50px;
	left: 50px;
	width: 300px;
	height: 150px;
	background-color: #dab0c2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 10px;
}
.vacancy:hover{
	border: 2px solid blue;
	background-color: red;
}
.employment a{
	color: #07711e;
	font-size: 1.25rem;
}

